

@{
    ViewBag.Title = "UserData";
    Layout = "~/Views/Shared/_Layout1.cshtml";}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin</title>
</head>
<body>

  
    Admin
</body>
</html>
