
@{
    ViewBag.Title = "Forgot Password";
}
<style>
    .form-horizontal{
        margin-top:5rem;
    }
</style>


@using (Html.BeginForm())
{
<div class="form-horizontal">
    <h2>FORGOT PASSWORD...</h2>
    <hr />
    <div class="text-success">
        <div class="col-lg-10;" style="color: darkgreen;font-size:1.3vw">@ViewBag.Message</div>
        <div class="col-lg-10;" style="color: red;font-size:1.3vw">@ViewBag.Message1</div>

    </div>
    <div class="form-group">
        Please enter your registered email address below to receive an email containing a link, to reset your password.
    </div>
    <div class="form-group">

        <label class="control-label col-md-2">Email Address</label>
        <div class="coll col-md-5">
            @Html.TextBox("EmailID", "", new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit" class="btn btn-success" />
        </div>
    </div>
</div>
}